/* Colors */
/* Blue: #2891c3 */
/* Light Blue: #b5e0f2 */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
	padding-bottom: 100px;
	font-family: 'Helvetica Neue', 'Helvetica', arial, sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}

/* Header */
header {
	background-color: #000;
	color: #fff;
	top: 0;
	margin-top: 0; 
	/*font-family: 'Montserrat Alternates', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	/*font-family: 'Varela Round', sans-serif;*/
	/*font-family: 'Pacifico', cursive;*/
	padding-left: 1em;
	padding-right: 1em;
}

.PodQuest {
	font-size: 25px;
	line-height: 50px;
}

header a {
	color: white;
	text-decoration: none;
	float: right;
	font-size: 11px;
	line-height: 50px;
}

header a:hover {
	color: #2891c3;
}


/* Logo */

.logo {
	text-align: center;
	margin-bottom: 1em;
	margin-top: 1em;
}

img {
	height: 150px;
	width: 150px;
}

@media (min-width: 800px) {

	img {
		float: left;
		height: 400px;
		width: 400px;
		margin-bottom: 4em;
		margin-left: 3em;
		margin-right: .5em;
	}

	.columns {
		float: left;
		width: 50%;
	}

	.columns .search-field {
		margin-top: 7em;
		margin-bottom: 3em;
	}
}

img:hover {
	border: solid #2891c3 3px;
}

/* Main */
.main {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}

/* Controls */
.controls {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	height: 100px;
	color: #fff;
	text-align: center;
	font-size: 12px;
}

.current-podcast {
	margin-top: .5em;
}

/* Progress */
progress {
  cursor: pointer;
  border: 0;
  border-radius: 10000px;
  background-color: #fff;
  height: 3px;
  width: 50%;
}
progress::-webkit-progress-bar {
  background-color: #fff;
}
progress::-webkit-progress-value {
	background-color: #2891c3;	
}
progress::-moz-progress-bar {
 background-color: rgba(0,0,0,.0625);
}

.start {
	padding-right: .5em;
}

.end {
	padding-left: .5em;
}

/* Search */

.search-field {
	text-align: center;
}

.search-field input[type=text]{
	width: 80%;
	padding: .5em;
	margin-bottom: 1em;
	height: 3em;
	outline: 0;
	border: solid #a9a9a9 1px;
	background: url(images/search-icon.png) no-repeat right;
}

.search-field:focus {
	 outline:0;
}


/* Tags */

.form-group {
	text-align: center;
	margin-bottom: 2em;
}

.form-group select {
  background: transparent;
  width: 80%;
  padding: 5px;
  font-size: 16px;
  line-height: 1.5;
  border: 0;
  border-radius: 0;
  height: 3em;
  overflow: hidden;
  background: url(images/down-arrow.png) no-repeat right;
  -webkit-appearance: none;
  border: solid #a9a9a9 1px;
  color: #a9a9a9;
  text-transform: capitalize;
}

.form-group select:hover {
	background: url(images/down-arrow-blue.png) no-repeat right;
}

.form-group select:focus {
	 outline:0;
}

/* Filters */

.tabs {
	margin-bottom: 1em;
	text-align: center;
	padding-left: .5em;
	padding-right: .5em;
}

@media (min-width: 800px) {
	.tabs {
		display: table; 
		width: 100%;
		text-align: left;
	}
}

.tab {
	cursor: pointer;
	width: 30%;
	font-size: 1em;
	padding-bottom: 3px;
	font-weight: 700;
	display: inline-block;
}

.tab-heading {
	border-bottom: 2px solid #a9a9a9;
	margin-right: 2em;
}

@media (min-width: 800px) {
	.tab {
		display: table-cell;
	}

	.tab-title {
		width: 50%;
	}

	.tab-duration .tab-heading {
		margin-right: 0;
	}
}

.is-active .tab-heading {
	border-bottom: 4px solid #2891c3;
}

/* Track */

.track {
	cursor: pointer;
	border: none;
	border-bottom: solid #ebebeb 1px;
	background-color: #fff;
	padding-left: .5em;
	padding-right: .5em;
	text-align: left;
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 1em;
	padding-bottom: 1em;
	width: 100%;
}

@media (min-width: 800px) {
	.track {
		display: table;
	}
}

.track-date,
.track-duration {
	display: inline-block;
}

@media (min-width: 800px) {
	.track span {
		display: table-cell;
	}
}

button {
	border: none;
	background-color: transparent;
}

.controls button {
	color: #2891c3;
}

button:focus {
	outline: none;
}

.play-button {
	font-size: 3em;
}

.change-track {
	font-size: 2em;
}

.track-title {
	margin-bottom: .5em;
	font-weight: bold;
	display: block;
}

@media (min-width: 800px) {
	.track-title {
		width: 50%;
		padding-right: 2em;
	}
}

.track-date {
	border-right: 1px solid #000;
	padding-right: 6px;
	margin-right: 3px;
}

@media (min-width: 800px) {
	.track-date {
		border-right: none;
		padding-right: 0;
		margin-right: 0;
	}
}
